@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;900&display=swap');

:root {
  --primary: #1c385f;
  --background: #f6f7f8;
}

.dark {
  --primary: #A2C9FF;
  --background: #131313;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: var(--background);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #393939;
}
